<div id="page-wrapper">
  <div id="page">
    <div id="header">
      <div class="row">
        <!-- Begin Top header right-->
        {% if page.top_header_right %}
         <div id="top-header-right" class="column">
           <div class="content">
             {{ page.top_header_right }}
           </div>
         </div>
       {% endif %}
       <!--End Top header right-->

       <!-- Begin Top header left-->
       {% if page.top_header_left %}
         <div id="top-header-left" class="column">
           <div class="content">
             {{ page.top_header_left }}
           </div>
         </div>
       {% endif %}
       <!--End Top header left-->
      </div>


      <div class="row">
            <!-- Begin highlighted header right-->
            {% if page.highlighted_header_right %}
                <div id="highlighted-header-right" class="column">
                    <div class="content">
                        {{ page.highlighted_header_right }}
                    </div>
                </div>
            {% endif %}
            <!--End highlighted header right-->
      </div>
    </div>
    <div id="main-wrapper">
      <div id="main">
          {{ page.content }}
      </div>
    </div>
    <div id="footer-wrapper">
    </div>
  </div>
</div>